p,h1,img{
  margin: 0;
}

img{
  width: 100%;
}

body{
  width: 80%;
  margin: auto;
}

header{
  display: flex;
}

#logo{
  width: 20%;
  min-width: 200px;
  margin: 30px 0px;
}

#headertext{
  width: 80%;
  text-align: right;
  margin: 30px 0;
}

header{
  border-bottom: 2px solid #7d97ad;
}

#headertext p{
  padding-top: 30px;
}

#image {
height: 600px;  background-image:url("http://via.placeholder.com/960x500")
}

#featuredWork{
  display: flex;
}

.apps-common{
  width: 33%;
}

#app2{
  margin: 0 10px;
}
